.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


#gameBoard {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* Adjust based on your grid size */
    gap: 0px;
}

/* #gameBoard { */
    /* display: grid; */
    /* Specify each column's width manually if not using 'repeat' */
    /* grid: 100px 100px 100px 100px 100px; */
    /* gap: 0px; */
/* } */


.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.hallway_Horizontal, .hallway_Vertical {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hallway_Horizontal {
    width: 50px; /* Smaller width */
    height: 100px; /* Full height */
    margin-left: 25px; /* Adjust this to center horizontally */
}

.hallway_Vertical {
    width: 100px; /* Full width */
    height: 50px; /* Smaller height */
    margin-top: 25px; /* Adjust this to center vertically */
}


.cell.blocked {
    background-color: #060101; 
    /* Darker color to indicate the cell is blocked */
    border-color: #d30707; 
    /* Dark border for better visibility */
}







.piece {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Makes the piece a circle */
    background-color: transparent; /* Initially no player */
}

.player1 { background-color: red; 

    background-image: url('image/Pro.PNG');
    background-size: cover; /* Adjust the image size to cover the entire element */
    background-repeat: no-repeat;
    align-items: center;

}

.player2 { background-color: orange; 

    background-image: url('image/sar.PNG');
    background-size: cover; /* Adjust the image size to cover the entire element */
    background-repeat: no-repeat;
    align-items: center;

}

.player3 { background-color: yellow; 
    background-image: url('image/mus.PNG');
    background-size: cover; /* Adjust the image size to cover the entire element */
    background-repeat: no-repeat;
    align-items: center;
} 

.player4 { background-color: green;

    background-image: url('image/whi.PNG');
    background-size: cover; /* Adjust the image size to cover the entire element */
    background-repeat: no-repeat;
    align-items: center;

} 

.player5 { background-color: pink;    
    
    background-image: url('image/gre.PNG');
    background-size: cover; /* Adjust the image size to cover the entire element */
    background-repeat: no-repeat;
    align-items: center;
} 

.player6 { background-color: purple;     

    background-image: url('image/pea.PNG');
    background-size: cover; /* Adjust the image size to cover the entire element */
    background-repeat: no-repeat;
    align-items: center;

}
/* Add more as needed for additional players



/* Add space above the dropdown container */
.dropdowns-container {
    margin-top: 20px; /* Adjust the space as needed */
}


.controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.controller-row {
    display: flex;
    justify-content: center;
}

#chatContainer {
    position: fixed; /* Keep the chat container in the same place */
    top: 100px; /*   Distance from the bottom of the viewport */
    right: 50px; /*   Distance from the right of the viewport */
    width: 500px; /* Set a fixed width */
    max-height: 500px; /* Set a max height */
    overflow-y: auto; /* Add scroll bar if content is too long */
    align-items: center;
    border: Edge 12;
}

